html {
  overflow-x: hidden;
}

input {
  width: 250px;
}

.map-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

#map {
    height: 100% !important;
    padding-bottom: 50%;
    position: relative;
    width: 100%;
}
/*redo css*/

select.soflow {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 250px;
   height: 36px;
}

.container {
  width: 80%;
  margin: 0 10%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
}

.pure-g > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.result-container-no {
  display: flex;
  height: 718px;
}

.result-container-yes {
  visibility: hidden;
  height: 0;
}

.pure-form-stacked {
  margin-left: 14px;
}

md-card:first-child {
  margin-top: 0px;
}

md-card:last-child {
  margin-bottom: 0px;
}

.result__listing__wrap {
  display: block;
  width: 20%;
  height: 100%;
  padding: .5%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 0;
  padding-top: 0;
}

@media (max-width: 900px) {
  .result-container {
    flex-direction: column;
  }
  .result__listing__wrap {
    width: 100%;
    height: 400px;
    oveflow-y: hidden;
    overflow-x: scroll;
  }
}
.splash-yes {
  background-image: url('./laptop.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding: 50px 0px;
  display: block;
  color: black;
  background-color: white;
}
.splash-no {
  display: none;
}
.failure-yes {
  display: block;
}
.failure-no {
  display: none;
}
.map-wrap-yes {
   width: 100%;
   height: 100%;
   display: inline-block;
}
.map-wrap-no {
  visibility: hidden;
  height: 0;
}
